/* Agregar Tailwind base, components y utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de color */

/* Estilos globales para body */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background-color: #f7fafc; */
  background-image: url("/dbz-background.webp");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
}

body::before{
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.mask-gradient {
    mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
}

/* Definir la fuente personalizada usando @font-face */
@font-face {
  font-family: "Saiyan";
  src: url("/fonts/SaiyanSans/Saiyan-Sans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Definir la fuente personalizada usando @font-face */
@font-face {
  font-family: "Permanent Marker";
  src: url("/fonts/PermanentMarker/PermanentMarker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;  
}

@layer utilities {
  .text-border {
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
